.editor_page{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #1c1e29;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.sidebar {
  width: 15%;
}
.ide_space {
  width: 85%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.CodeMirror {
  min-height: calc(90vh - 60px);
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}
.editorOptions {
  height: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.language label {
  margin: 5px;
}
.language select {
  background-color: #ffffff1a;
  color: #eff1f6bf;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
.language option{
  color: black;
}
.editorOptions .run{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #1c1e29;
}
.editorOptions .run:hover{
  cursor: pointer;
  background-color: #fff;
}
.console{
  /* display: block; */
  height: 30vh;
  width: 85%;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.957);
  white-space: pre-wrap;
  font-family: 'Courier New', monospace;
  margin: 0;
}
.console::-webkit-scrollbar {
  display: none;
}
.consoleBorder{
  background-color: #1c1e29;
  height: 20px;
  position: sticky;
  top: 0;
  cursor:grab;
  box-shadow: 0px 3px 7px #36394e;
}
.consoleArea {
  padding: 10px;
}
.errorInConsole{
  color: #cc0000;
}

.homePage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #1c1e29;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.formWrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formWrapper img {
  height: 100px;
  margin: auto;
}
.inputGrp {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}
.inputGrp input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: antiquewhite;
  font-weight: bold;
}
.btnGrp {
margin-left: auto;
}
.btn {
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #14EDB9;
  color: #1c1e29;
  font-weight: bold;
  margin: 0 5px;
}
.createRomm{
  background-color: #14f091;
}